<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/user_home.css">
    <script src="./ajax/jquery-2.1.0.js"></script>
</head>

<body>
    <!-- 完全可以在html中嵌入php代码 -->
    <div class="error-message-wrap" style="display: none">
        <div class="error-content"></div>
    </div>
    <div class="pull-mask">
        <form class="pull-modal" action="/postToPullClass" method="POST">
            <div class="pull-close-btn">×</div>
            <div class="pull-input-wrap">
                <input class="input-row input-tag" type="text" name="studentid" placeholder="StudentId">
                <input class="input-row input-tag" type="password" name="password" placeholder="Password">
                <div class="checkcode input-row">
                    <input class="input-checkcode-row input-tag" type="text" name='checkcode' placeholder="CheckCode">
                    <div class="pull-img-wrap">
                        <img class="pull-checkcode-img" src="./checkcodeimg/name.jpg" alt="">
                    </div>
                </div>
                <input type="text" value="<%=data%>" readonly='readonly' name="user_name" style="display: none;">
            </div>
            <div class="pull-submit-btn-wrap">
                <button class="pull-submit-btn" type="submit">Pull your class table</button>
            </div>

        </form>
    </div>
    <div class="user-home-modal">
        <div class="user-home-input-wrap">
            <div class=" input-close-wrap">
                <span class="modal-close-btn">×</span>
            </div>
            <div class="input-classname-wrap input-wrap">
                <span class="input-name">Class Name</span>
                <input type="text" class="user-home-input-classname">
            </div>
            <div class="input-classplace-wrap input-wrap">
                <span class="input-name">Class Place</span>
                <input type="text" name="" class="user-home-input-classplace">
            </div>
            <div class="input-classplace-wrap input-wrap">
                <span class="input-name">Class week</span>
                <input type="text" name="" class="user-home-input-classtime">
            </div>
            <div class="input-btn-group">
                <div class="btn cancel-btn">cancel</div>
                <div class="btn add-class-ok-btn">ok</div>
            </div>
        </div>
    </div>
    <div class="pull-mask-classes">
        <span class="classes-close-btn">×</span>
        <div class="classes-wrap">

        </div>
    </div>
    <div class="user-home-wrap">
        <div class="user-home-nav">
            <div class="user-home-left">
                <div class="user-home-avator">
                    <span class="user-home-img">T</span>
                </div>
                <div class="user-home-name" id="<%=data%>">
                    Welcome user <span id="user-home-username"><%=data%></span>
                </div>
            </div>

            <div class="user-home-btn-wrap">
                <span class="user-home-btn user-home-logout">Log out</span>
                <span class="user-home-btn user-home-getclass">Pull Class</span>
                <span class="user-home-btn user-home-aboutus">About Us</span>
            </div>
        </div>
        <div class="user-home-content">

            <div class="row-1">
                <div class="rowtitle">
                    <div class="row-item"> </div>
                    <div class="row-item row-monday row-day">Mon</div>
                    <div class="row-item row-tuesday row-day">Tue</div>
                    <div class="row-item row-wednesday row-day">Wed</div>
                    <div class="row-item row-thursday row-day">Thur</div>
                    <div class="row-item row-friday row-day">Fri</div>
                    <div class="row-item row-saturday row-day">Sat</div>
                    <div class='row-item row-sunday row-day'>Sun</div>
                </div>
            </div>
            <div class="row-2">
                <div class='columetitle colume-name'>
                    <div class="class-one class-time">
                        <div class="class-time-title">
                            第一大节
                        </div>
                        <div class="class-time-long">
                            8：10~9：55
                        </div>
                    </div>
                    <div class="class-two class-time">
                        <div class="class-time-title">
                            第二大节
                        </div>
                        <div class="class-time-long">
                            10：15~11：40
                        </div>
                    </div>
                    <div class="class-three class-time">
                        <div class="class-time-title">
                            第三大节
                        </div>
                        <div class="class-time-long">
                            13：30~15：05
                        </div>
                    </div>
                    <div class="class-four class-time">
                        <div class="class-time-title">
                            第四大节
                        </div>
                        <div class="class-time-long">
                            15：25~17：00
                        </div>
                    </div>
                    <div class="class-five class-time">
                        <div class="class-time-title">
                            第五大节
                        </div>
                        <div class="class-time-long">
                            18：00~19：35
                        </div>
                    </div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./user_home.js"></script>
<script src="./ajax/ajax.js"></script>
<script>
    if ('<%=errorcode%>' != undefined) {
        var errorcode = '<%=errorcode%>';
        var errorMessageWrap = document.getElementsByClassName('error-message-wrap')[0];
        var errorContent = document.getElementsByClassName('error-content')[0];
        var errorcontent = '';
        switch (errorcode) {
            case '3':
                errorcontent = '用户名/密码错误'
                break;
            case '4':
                errorcontent = '拉取失败';
                break;
            default:
                break;
        }
        if (errorcode != '0') {
            errorContent.innerText = errorcontent;
            errorMessageWrap.style.display = 'flex';
            setTimeout(function () {

                errorMessageWrap.style.display = 'none';
            }, 3000)
        }

    }
    if (localStorage.getItem('classtime')&&localStorage.getItem('classtime').length!=2) {
        var resultlocal = JSON.parse(localStorage.getItem('classtime'));
        var restemp = handlepullclass(resultlocal)
        var res = handleclasstime(restemp);
        rendertable(res)
    }
    if ('<%=hascourse%>' == 'true') {
        var result = JSON.parse('<%- JSON.stringify(classtime) %>');
        if (result.length > 1) {
            localStorage.setItem('classtime', '<%- JSON.stringify(classtime) %>');
            var resultlocal = JSON.parse(localStorage.getItem('classtime'));
            var restemp = handlepullclass(resultlocal)
            var res = handleclasstime(restemp);
            rendertable(res)
        }
    }

</script>

=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/user_home.css">
    <script src="./ajax/jquery-2.1.0.js"></script>
</head>

<body>
    <!-- 完全可以在html中嵌入php代码 -->
    <div class="error-message-wrap" style="display: none">
        <div class="error-content"></div>
    </div>
    <div class="pull-mask">
        <form class="pull-modal" action="/postToPullClass" method="POST">
            <div class="pull-close-btn">×</div>
            <div class="pull-input-wrap">
                <input class="input-row input-tag" type="text" name="studentid" placeholder="StudentId">
                <input class="input-row input-tag" type="password" name="password" placeholder="Password">
                <div class="checkcode input-row">
                    <input class="input-checkcode-row input-tag" type="text" name='checkcode' placeholder="CheckCode">
                    <div class="pull-img-wrap">
                        <img class="pull-checkcode-img" src="./checkcodeimg/name.jpg" alt="">
                    </div>
                </div>
                <input type="text" value="<%=data%>" readonly='readonly' name="user_name" style="display: none;">
            </div>
            <div class="pull-submit-btn-wrap">
                <button class="pull-submit-btn" type="submit">Pull your class table</button>
            </div>

        </form>
    </div>
    <div class="user-home-modal">
        <div class="user-home-input-wrap">
            <div class=" input-close-wrap">
                <span class="modal-close-btn">×</span>
            </div>
            <div class="input-classname-wrap input-wrap">
                <span class="input-name">Class Name</span>
                <input type="text" class="user-home-input-classname">
            </div>
            <div class="input-classplace-wrap input-wrap">
                <span class="input-name">Class Place</span>
                <input type="text" name="" class="user-home-input-classplace">
            </div>
            <div class="input-classplace-wrap input-wrap">
                <span class="input-name">Class week</span>
                <input type="text" name="" class="user-home-input-classtime">
            </div>
            <div class="input-btn-group">
                <div class="btn cancel-btn">cancel</div>
                <div class="btn add-class-ok-btn">ok</div>
            </div>
        </div>
    </div>
    <div class="pull-mask-classes">
        <span class="classes-close-btn">×</span>
        <div class="classes-wrap">

        </div>
    </div>
    <div class="user-home-wrap">
        <div class="user-home-nav">
            <div class="user-home-left">
                <div class="user-home-avator">
                    <span class="user-home-img">T</span>
                </div>
                <div class="user-home-name" id="<%=data%>">
                    Welcome user <span id="user-home-username"><%=data%></span>
                </div>
            </div>

            <div class="user-home-btn-wrap">
                <span class="user-home-btn user-home-logout">Log out</span>
                <span class="user-home-btn user-home-getclass">Pull Class</span>
                <span class="user-home-btn user-home-aboutus">About Us</span>
            </div>
        </div>
        <div class="user-home-content">

            <div class="row-1">
                <div class="rowtitle">
                    <div class="row-item"> </div>
                    <div class="row-item row-monday row-day">Mon</div>
                    <div class="row-item row-tuesday row-day">Tue</div>
                    <div class="row-item row-wednesday row-day">Wed</div>
                    <div class="row-item row-thursday row-day">Thur</div>
                    <div class="row-item row-friday row-day">Fri</div>
                    <div class="row-item row-saturday row-day">Sat</div>
                    <div class='row-item row-sunday row-day'>Sun</div>
                </div>
            </div>
            <div class="row-2">
                <div class='columetitle colume-name'>
                    <div class="class-one class-time">
                        <div class="class-time-title">
                            第一大节
                        </div>
                        <div class="class-time-long">
                            8：10~9：55
                        </div>
                    </div>
                    <div class="class-two class-time">
                        <div class="class-time-title">
                            第二大节
                        </div>
                        <div class="class-time-long">
                            10：15~11：40
                        </div>
                    </div>
                    <div class="class-three class-time">
                        <div class="class-time-title">
                            第三大节
                        </div>
                        <div class="class-time-long">
                            13：30~15：05
                        </div>
                    </div>
                    <div class="class-four class-time">
                        <div class="class-time-title">
                            第四大节
                        </div>
                        <div class="class-time-long">
                            15：25~17：00
                        </div>
                    </div>
                    <div class="class-five class-time">
                        <div class="class-time-title">
                            第五大节
                        </div>
                        <div class="class-time-long">
                            18：00~19：35
                        </div>
                    </div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
                <div class='columetitle'>
                    <div class="class-one class-item"></div>
                    <div class="class-two class-item"></div>
                    <div class="class-three class-item"></div>
                    <div class="class-four class-item"></div>
                    <div class="class-five class-item"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./user_home.js"></script>
<script src="./ajax/ajax.js"></script>
<script>
    if ('<%=errorcode%>' != undefined) {
        var errorcode = '<%=errorcode%>';
        var errorMessageWrap = document.getElementsByClassName('error-message-wrap')[0];
        var errorContent = document.getElementsByClassName('error-content')[0];
        var errorcontent = '';
        switch (errorcode) {
            case '3':
                errorcontent = '用户名/密码错误'
                break;
            case '4':
                errorcontent = '拉取失败';
                break;
            default:
                break;
        }
        if (errorcode != '0') {
            errorContent.innerText = errorcontent;
            errorMessageWrap.style.display = 'flex';
            setTimeout(function () {

                errorMessageWrap.style.display = 'none';
            }, 3000)
        }

    }
    if (localStorage.getItem('classtime')&&localStorage.getItem('classtime').length!=2) {
        var resultlocal = JSON.parse(localStorage.getItem('classtime'));
        var restemp = handlepullclass(resultlocal)
        var res = handleclasstime(restemp);
        rendertable(res)
    }
    if ('<%=hascourse%>' == 'true') {
        var result = JSON.parse('<%- JSON.stringify(classtime) %>');
        if (result.length > 1) {
            localStorage.setItem('classtime', '<%- JSON.stringify(classtime) %>');
            var resultlocal = JSON.parse(localStorage.getItem('classtime'));
            var restemp = handlepullclass(resultlocal)
            var res = handleclasstime(restemp);
            rendertable(res)
        }
    }

</script>

>>>>>>> 0b0c8f7a921ef6c9dd2b2133a1b1a470b4453ce0
</html>